<?xml version="1.0"?>
<model>
  <name>mars_yard</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Mind Cloud</name>
    <name>Abdallah Elsayed</name>
    <email>abdallah.elsaid25@gmail.com</email>
  </author>
  <description>Custom textured OBJ model.</description>
</model>

