<launch>
    <arg name="camera_calibration_path" default="$(find sirius_calibration)/kalibr/camimu/inflated/camimu-camchain-imucam.yaml"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="imu_frequency"         default="200.0" />
    <arg name="model" default="$(find sirius_description)/robots/sirius.urdf.xacro"/>
    <arg name="paused" default="true"/>
    <arg name="robot_state_frequency" default="25"  />
    <arg name="stereo_fps"            default="30"  />
    <arg name="use_sim_time" default="true"/>
    <arg name="world_name" default="$(find leo_gazebo_worlds)/worlds/marsyard2022.world"/>
    <!-- ERC: Marsyard -->
    <arg name="spherical_coordinates" default="[50.878151, 20.642273, 144.41]"/>
    <!-- <arg name="spherical_coordinates" default="[50.878151, 20.642273, 0]"/> -->
    <arg name="elevation" default="308.1445"/>
    <!-- URC: The Mars Desert Research Station  -->
    <!-- <arg name="spherical_coordinates" default="[38.4190235, -110.7823884, 0.0]"/> -->
    <!-- <arg name="elevation" default="1378.0"/> -->
    <arg name="year" default=""/>
    <arg name="localization" default="true"/>
    <arg name="gnss" default="true"/>
    
    <param name="use_sim_time" command="$(arg use_sim_time)" />

    <include file="$(find sirius_description)/launch/sirius_description.launch" pass_all_args="true" />
    
    <remap from="/sirius/controller/wheels/cmd_vel" to="/cmd_vel" />
    <remap from="/sirius/controller/wheels/odom" to="/wheels/odom" />
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
    
    <node name="gazebo_set_physics_properties" pkg="dynamic_reconfigure" type="dynparam" args="set /gazebo sor_pgs_iters 250" />
   
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.592 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

    <include file="$(find sirius_control)/launch/controllers.launch" />

    <include file="$(find sirius_navigation)/launch/navsat_transform.launch" if="$(arg gnss)">
        <arg name="datum" value="$(arg spherical_coordinates)"/>
    </include>

    <include file="$(find sirius_navigation)/launch/madgwick_filter.launch" >
        <arg name="imu_name" value="front_camera"/>
    </include>
    <node name="imu_align_north" pkg="sirius_navigation" type="imu_align_north.py" output="screen" >
        <remap from="imu/data" to="/imu_compensated/data"/>
        <rosparam param="declination" subst_value="True">$(eval eval(spherical_coordinates)[2])</rosparam>
    </node>

    <include file="$(find sirius_navigation)/launch/localization.launch" />
</launch>